*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
  background: linear-gradient(90deg, rgb(244, 250, 250) 0%, rgb(108, 193, 200) 50%);
  min-height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  padding: 25px;
  padding-top: 10px;
  
}

.navbar{
    width: 1500px;
    height: 70px;
    margin: auto;
    position: relative;
   
}

.icon{
    width:200px;
    height: 70px;
    float: left;
}

.logo{
    color: rgb(17, 82, 199);
    font-size: 36px;
    font-family: 'Curlz MT', sans-serif;
    font-weight: bold;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 1000px;
    height: 70px;
    float: left;
    
    
}

ul{
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    padding-top: 8px;
    
}

ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 10px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: rgb(50, 109, 193);
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: rgb(4, 50, 136);
    
}

body, html {
    overflow-x: hidden; /* hides horizontal scroll */
    overflow-y: hidden; /* hides vertical scroll */
}

.cart{
    position: absolute;
    top: 10px;
    right: 150px;
    padding: 7px;
}

.cart-icon {
    width: 28px;
    height: 28px;
    opacity: 0.7;         /* semi-transparent */
    transition: opacity 0.3s;
}

.cart-icon:hover {
    opacity: 1;           /* fully visible on hover */
}

.heart{
    position: absolute;
    top: 10px;
    right: 100px;
    padding: 7px;
}

.heart-icon {
    width: 28px;
    height: 28px;
    opacity: 0.7;         /* semi-transparent */
    transition: opacity 0.3s;
}

.heart-icon:hover {
    opacity: 1;           /* fully visible on hover */
}

.profile{
    position: absolute;
    top: 10px;
    right: 50px;
    padding: 7px;
}

.profile-icon {
    width: 28px;
    height: 28px;
    opacity: 0.7;        
    transition: opacity 0.3s;
}

.profile-icon:hover {
    opacity: 100%;           
}

.payment-method {
    width: 20%;
    height: 50%;
    font-size: 14px;
    color: rgb(93, 89, 93);
    display: flex;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;  
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-left: 70px;  
}

.payment-method-button{
    width:77%;
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: -10px;
    border-radius: 8px; 
    padding: 17px 20px;
    background: linear-gradient(90deg,rgb(108, 193, 200) 50%, rgb(244, 250, 250) 100% );
    border: black 1px solid;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
   
}

.radio-button{
    accent-color: rgb(0, 93, 144);
    margin:0;
    font:inherit;
    color:rgb(0, 93, 144);
    transform:scale(2);
    width:20px;
    height:20px;
    border-radius:50%;
    border-color: rgb(0, 93, 144);
    display:grid;
    place-content:center;
    cursor:pointer;
    position:relative;
}

.radio-button::before{
    content:"";
    width:10px;
    height:10px;
    border-radius:50%;
    transform:scale(0);
    border-color:rgb(0, 93, 144);
    transition:120ms transform ease-in-out;
    background-color:rgb(0, 93, 144);
   
}
.radio-button:checked::before{
    transform:scale(1);
    
    
}

.form-group{
    color:rgb(18, 81, 121);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left:70px;
    padding-top:30px;
}

.form-group input{
    width: 30%;
    padding: 15px;
    margin-top:15px;
    border-radius: 8px;
    border: none;
}

.form-row {
    color:rgb(18, 81, 121);
    font-weight: bold;
    margin-top: 30px;
    margin-left:70px;
    display: flex;
    align-items: center;
    gap: 2rem;
    
}

.form-row input{
    width: 100%;
    padding: 12px;
    margin-top:10px;
    border-radius: 8px;
    border: none;
   
}

.submit-button{
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 70px;
    padding-bottom: 30px;
    width:27%;
    border-radius: 30px;
    padding: 5px 20px;
    display:flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color:rgb(234, 250, 255);
    background-color:rgb(18, 81, 121);  
}
    






  








